@import "@/media.scss";
// @include tablet {
//   grid-template-columns: repeat(2, 1fr);
// }
// @include desktop {
//   grid-template-columns: repeat(3, 1fr);
// }

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

img {
  width: 30px;
  height: 30px;
}
