@import "@/media.scss";
// @include tablet {
//   grid-template-columns: repeat(2, 1fr);
// }
// @include desktop {
//   grid-template-columns: repeat(3, 1fr);
// }

.container {
  display: flex;
  flex: row;
  gap: 5px;
  width: 500px;
  align-items: center;
}

.profile {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.text {
  align-self: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 50px;
}

.icon {
  width: 20px;
  height: 20px;
}
