@import "@/media.scss";

.main {
  //  background-color: var(--background-color);
  background-color: white;
  color: black;
  font-size: 5rem;
  width: 20rem;
  height: 5rem;
}
.filterContainer {
  display: flex;
  flex-direction: row;
  span {
    text-align: center;
  }
}
.locationIcon {
  width: 30px;
  height: 30px;
  padding: 15px;
}
.filterIcon {
}

.matchCard {
  width: 90%;
  height: 45rem;
  background-color: white;
}
.filter {
  width: 60px;
  height: 60px;
  background-color: black;
}
