@import "@/media.scss";

.main {
  //  background-color: var(--background-color);
  background-color: white;
  color: black;
  font-size: 5rem;
  width: 20rem;
  height: 10rem;
}

.matchCard {
  widht: 90%;
  height: 50rem;
  background-color: white;
}
